.sidebar:not(.sidebar--static) .sidebar__panel {
    transform: translateX(100%);
    left: initial;
	right: 0;
}

.sidenav {
    &.sidenav__flipped  {
        .sidenav__list {
            .sidenav__item {

                &.sidenav__item--expanded {
                    transform: rotate(360deg);
                    
                    .sidenav__sublist-control {
                        transform: rotate(360deg); //
                    }
                }

                .sidenav__link {
                    flex-direction: row-reverse;
                    padding-right: 1rem;
        
                    .sidenav__counter {
                        margin-left: unset;
                        margin-right: auto;
                    }
                }
                
                .sidenav__sublist-control {
                    left: initial;
                    right: 0;
                    transform: rotate(180deg);
                }
            }
        }
    }
}