.sidebar:not(.sidebar--static) .sidebar__panel {
    transform: translateX(100%);
    left: initial;
	right: 0;
}

.sidenav {
    &.sidenav__flipped  {
        .sidenav__list {
            .sidenav__item {

                &.sidenav__item--expanded {
                    transform: rotate(360deg);
                    
                    .sidenav__sublist-control {
                        transform: rotate(360deg); //
                    }
                }

                .sidenav__link {
                    flex-direction: row-reverse;
                    padding-right: 1rem;
        
                    .sidenav__counter {
                        margin-left: unset;
                        margin-right: auto;
                    }
                }
                
                .sidenav__sublist-control {
                    left: initial;
                    right: 0;
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.menu-bar {
    &__item.has-text {
        width: auto;

        &:not(.icon-top) {
            border: 1px solid #bfbfbf;
            padding: .5rem;
            border-radius: 30px;
            margin-top: .5rem;
            margin-bottom: .5rem;
        }

        &.icon-top {
            margin-top: .12rem;

            svg, .menu-bar__icon {
                position: absolute;
                top: .1rem;
            }

            .menu-bar__text {
                margin-top: 1rem;
                background: #616165;
                color: #fff;
                padding: .1rem;
            }            
        }

        .menu-bar__text {
            margin-left: .25rem;
        }
    }
}